@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: inherit;
}

.bg-yellow {
  background-color: #eded13;
}

.text-yellow {
  background-color: #eded13;
}

.rounded-2 {
  border-radius: 11px !important;
}

.rounded-3 {
  border-radius: 15px !important;
}

.fw-bolder {
  font-weight: bolder;
}

.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.accordion-item:last-of-type .accordion-button {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

button.accordion-button {
  border-radius: 20px;
}

.accordion,
.accordion-item {
  background: transparent !important;
  border: none;
}

.accordion-item:nth-of-type(odd) button.accordion-button {
  background: #e1ebef;
}

.accordion-item:nth-of-type(even) button.accordion-button {
  background: #f7f4c4;
}
